html, body {
    margin:0;
    padding:0;
    font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    background-color: #F1EADA;
}

#heading{
  background-color: #1A6963;
  border-bottom: 3px solid #10403c;
}

#heading a{
  color: white;
  text-decoration: none;
}

.nav_bar a:hover{
  border-bottom: 1px solid red;
}

#logo{
  font-size: 30px;
  font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif
}

#logo, .nav_bar{
  display: inline;
}

.nav_bar{
  float: right;
  vertical-align: top;
}

#intro2{
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  width: 55%;
  margin: auto;
  float: right;
  font-size: 16px;
}

#portrait{
  width: 43%;
  height: auto;
  border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 20px;
  float: left;
}

#portrait, #intro2, .social{
  display: inline;
}

#social{
  text-align: center;
  text-decoration: none;
}

form{
  text-align: center;
}
