<div id="heading">
  <p id="logo">
    <a href="/">Christopher Miklius</a>
  </p>

  <p class="nav_bar">
    <a href="/resume">Resume</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </p>
</div>

<form action="https://formspree.io/cmiklius@gmail.com" method="POST">
  <br>
  First Name:<br>
  <input type="text" name="firstname">
  <br>
  Last Name:<br>
  <input type="text" name="lastname">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  Message:<br>
  <textarea name="message" cols="60" rows="10"></textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>