<div id="logo">
  <a href="#">CHRIS MIKLIUS</a>
</div>

<div class="nav_bar">
  <a href="#">Resume</a>
  <a href="#">Projects</a>
  <a href="#">Contact</a>
</div>

<div id="intro">
  <p>
    Blah Blah Blah Blah
  </p>
</div>