<head><link rel="stylesheet" type="text/css" href="../../assets/stylesheets/welcome_stylesheet.css" media="screen" /></head>

<div id="heading"</div>
  <p id="logo">
    <a href="#">Christopher Miklius</a>
  </p>

  <p class="nav_bar">
    <a href="#">Resume</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </p>
</div>

<div id="intro">
  <p id="intro2">
    Welcome to my website! If you need to reach me grab my resume or take a look at some recent projects it's all here and up to date. I'm looking forward to connecting!
  </p>
</div>