<head><link rel="stylesheet" type="text/css" href="../../assets/stylesheets/welcome_stylesheet.css" media="screen" /></head>

<div id="heading"</div>
  <p id="logo">
    <a href="#">Christopher Miklius</a>
  </p>

  <p class="nav_bar">
    <a href="#">Resume</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </p>
</div>

<div id="intro">
  <img id="portrait" src="/assets/maine-website-photo.jpg"/>

  <p id="intro2">
    Welcome to my website! If you need to reach me, grab my resume, or check out some recent projects it's all here and up to date. I'm looking forward to connecting!
    <br>
    <br>
    With that said here's a little about me. I graduated from Seton Hall University (Go Pirates) in 2015 with a degree in Mathematics. I'm grateful to have gotten the chance to learn problem solving at such a high level. Having earned my degree I wondered what I might do for work post college. I loved doing computational work and crafting inventive solutions but what might best incorporate that was a mystery to me. That's when I heard about Dev Bootcamp, a now defunct Chicago coding bootcamp.
    <br>
    <br>
    Dev Bootcamp was an institution that gave a comprehensive guide on how to code in a matter of 19 weeks. The best part was no experience was required. The only thing needed was a desire to learn something new and exciting. That summer after my college graduation I applied, got in, and was off to the races. Their main language of focus was ruby and by extension ruby on rails, though I also received instruction in Javascript, HTML, CSS, and a few other things. I loved every passing moment of the experience and by February 2016 I had completed my time at bootcamp. A few months later I was working my first full time job.
    <br>
    <br>
    May 2016 marked my first experience being a full time developer at a place called American Library Association (ALA for short). I got the chance to hone my skills and pick up new ones. Mainly I built out html files from scratch and scraped the various project databases for information at client request using custom algorithms. The work was fascinating and each day brought new interesting challenges. This past March I worked my last day at ALA and have since been looking for my next big opportunity. I'm hoping to find a place where I can not only grow as a developer, but also fill a strong need.
  </p>
</div>