<div id="heading">
  <p id="logo">
    <a href="/">Christopher Miklius</a>
  </p>

  <p class="nav_bar">
    <a href="/resume">Resume</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </p>
</div>

<div class="row">
  <div class="project">
    <h3>NASA@ My Library</h3>
    <img src="assets/NASA.png">
    <a href="http://apply.ala.org/nasalibraries"><h4 class="checkit">Check it out!</h4></a>
  </div>

  <div class="project">
    <h3>Great Stories Club</h3>
    <img src="assets/gsc.png">
    <a href="http://apply.ala.org/greatstories"><h4 class="checkit"> Check it out!</h4></a>
  </div>

  <div class="project">
    <h3>The Think Tank</h3>
    <img align="center" src="assets/ThinkTank.png">
    <a href="http://thinktankprep.com"><h4 class="checkit"> Check it out!</h4></a>
  </div>
</div>