<head><link rel="stylesheet" type="text/css" href="../../assets/stylesheets/welcome_stylesheet.css" media="screen" /></head>

<div id="heading">
  <p id="logo">
    <a href="/">Christopher Miklius</a>
  </p>

  <p class="nav_bar">
    <a href="/resume">Resume</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </p>
</div>


<center>
<div class="container">
  <img id="resume", align="center", src="/assets/Miklius-Resume.png">
  <div class="middle">
    <div class="text">
      <a href="assets/Chris Miklius Resume.pdf">Download</a>
    </div>
  </div>
</div>
</center>